<!DOCTYPE html>
<html>
<head>
	<title>Aminews</title>
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/jpg" href="images/logo.png" > 
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<!-- Compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
	input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.top{
	margin-top: 40px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

</style>
<body>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<center><b>
			<u style="margin-top: 30px; color: red; font-size: 40px; font-family: fantasy;">
				Login
				</u>
			</b></center>
		</div>
	</div>
</div>
<div class="container top">
	<div class="row">
		<div class="col-xs-12">
			<center>
				 <form  action="/login" method = "post">
    <label for="fname">Username</label>
    <input type="text" id="fname" name="firstname" placeholder="Username..." required>

    <label for="lname">Password</label>
    <input type="password" id="lname" name="lastname" placeholder="Password..." required>

   
  
    <input type="submit" value="Submit">
  </form>
			</center>
		</div>
	</div>
</div>
</body>
</html>